body{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://wallpapers.com/images/high/vintage-telephone-and-typewriter-g440p2pr31vbudsk.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}